body{
    margin: 0;
    background-color: rgb(148, 177, 185);
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: aqua
}

.category-header {
    position: relative;
    top: 150px;
    left: 250px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(156, 69, 149, 0.1);
}

.category-header h1 {
    margin: auto;
    width: 100%;
    font-size: 40px;
}

.romance {
    font-size: 30px;
    color: rgb(108, 32, 148);
}

.cate1 .category-link a{
    display: block;
    text-decoration: none;
    float: left;
}

.cate1 .category-link ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.content-book1 a{
    text-decoration: none;
}

.adventure {
    font-size: 30px;
    color: red;
}

.history {
    font-size: 30px;
    color: goldenrod;
}

.header{
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 4px rgba(156, 69, 149, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}
/*set category box1*/
.category-box1{
    position:relative;
    width: 1200px;
    height: 350px;
    margin :240px auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(231, 225, 225);
}

.category-box1 .cate1 {
    position: relative;
    float: left;
    width: 1200px;
    height: 300px;
}
/*cate1 box1 */
.category-box1 .cate1 .box1 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(238, 124, 227);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
/*cate1 book1 box*/
.cate1 .box1 .icon-r1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/book1-romance.jpg);
    transition: 0.5s;
    z-index: 1;
}

.cate1 .box1:hover .icon-r1{
    background-image: none;
    background-color: aquamarine;
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.cate1 .box1 .icon-r1 .fa{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 80px;
    transition: 0.6s;
}

.cate1 .box1:hover .icon-r1 .fa{
    font-size: 40px;
    display: inline;
    overflow: hidden;
}

/*cate1 box1 .icon-r2*/
.cate1 .box1 .icon-r2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/book2-romance.jpg);
    transition: 0.5s;
    z-index: 1;
}

.cate1 .box1:hover .icon-r2{
    background-image: none;
    background-color: aquamarine;
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.cate1 .box1 .icon-r2 .fa{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 80px;
    transition: 0.6s;
}

.cate1 .box1:hover .icon-r2 .fa{
    font-size: 40px;
    display: inline;
    overflow: hidden;
}

/*cate1 box1 icon-r3*/
.cate1 .box1 .icon-r3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/book3-romance.jpg);
    transition: 0.5s;
    z-index: 1;
}

.cate1 .box1:hover .icon-r3{
    background-image: none;
    background-color: aquamarine;
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.cate1 .box1 .icon-r3 .fa{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 80px;
    transition: 0.6s;
}

.cate1 .box1:hover .icon-r3 .fa{
    font-size: 40px;
    display: inline;
    overflow: hidden;
}

/*content in the book*/
.cate1 .box1 .content-book1 {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.cate1 .box1:hover .content-book1 {
    top: 100px;
    opacity: 1;
}

.cate1 .box1 .content-book1 h4 {
    margin  : 0 0 10px;
    padding: 0;
    color: aquamarine;
    font-size: 20px;
}

/*set category box2*/
.category-box2{
    position:relative;
    width: 1200px;
    height: 350px;
    margin :240px auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(231, 225, 225);
}

.category-box2 .cate2 {
    position: relative;
    float: left;
    width: 1200px;
    height: 300px;
}
/*cate2 box2 */
.category-box2 .cate2 .box2 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(121, 86, 27);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
/*cate2 book2 box2*/
.cate2 .box2 .icon-a1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/book2-adventure.jpg);
    transition: 0.5s;
    z-index: 1;
}

.cate2 .box2:hover .icon-a1{
    background-image: none;
    background-color: rgb(255, 63, 63);
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.cate2 .box2 .icon-a1 .fa{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 80px;
    transition: 0.6s;
}

.cate2 .box2:hover .icon-a1 .fa{
    font-size: 40px;
    display: inline;
    overflow: hidden;
}

/*cate2 box2 .icon-a2*/
.cate2 .box2 .icon-a2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/book1-adventure.jpg);
    transition: 0.5s;
    z-index: 1;
}

.cate2 .box2:hover .icon-a2{
    background-image: none;
    background-color: red;
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.cate2 .box2 .icon-a2 .fa{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 80px;
    transition: 0.6s;
}

.cate2 .box2:hover .icon-a2 .fa{
    font-size: 40px;
    display: inline;
    overflow: hidden;
}

/*cate2 box2 icon-a3*/
.cate2 .box2 .icon-a3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/book3-adventure.jpg);
    background-size: 100%;
    transition: 0.5s;
    z-index: 1;
}

.cate2 .box2:hover .icon-a3{
    background-image: none;
    background-color: red;
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.cate2 .box2 .icon-a3 .fa{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 80px;
    transition: 0.6s;
}

.cate2 .box2:hover .icon-a3 .fa{
    font-size: 40px;
    display: inline;
    overflow: hidden;
}

/*content in the book*/
.cate2 .box2 .content-book2 {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.cate2 .box2:hover .content-book2 {
    top: 100px;
    opacity: 1;
}

.cate2 .box2 .content-book2 h4 {
    margin  : 0 0 10px;
    padding: 0;
    color: aquamarine;
    font-size: 20px;
}

.cate2 .box2 .content-book2 p {
    margin  : 0 0 10px;
    padding: 0;
    color: aquamarine;
}

/*set category box3*/
.category-box3{
    position:relative;
    width: 1200px;
    height: 350px;
    margin :240px auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(231, 225, 225);
}

.category-box3 .cate3 {
    position: relative;
    float: left;
    width: 1200px;
    height: 300px;
}
/*cate3 box3 */
.category-box3 .cate3 .box3 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(121, 86, 27);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
/*cate3 book3 box3*/
.cate3 .box3 .icon-h1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/book1-history.jpg);
    transition: 0.5s;
    z-index: 1;
}

.cate3 .box3:hover .icon-h1{
    background-image: none;
    background-color: rgb(194, 152, 2);
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.cate3 .box3 .icon-h1 .fa{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 80px;
    transition: 0.6s;
}

.cate3 .box3:hover .icon-h1 .fa{
    font-size: 40px;
    display: inline;
    overflow: hidden;
}

/*cate3 box3 .icon-h2*/
.cate3 .box3 .icon-h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/book2-history.jpg);
    transition: 0.5s;
    z-index: 1;
}

.cate3 .box3:hover .icon-h2{
    background-image: none;
    background-color: rgb(194, 152, 2);
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.cate3 .box3 .icon-h2 .fa{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 80px;
    transition: 0.6s;
}

.cate3 .box3:hover .icon-h2 .fa{
    font-size: 40px;
    display: inline;
    overflow: hidden;
}

/*cate3 box3 icon-h3*/
.cate3 .box3 .icon-h3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pic/book3-history.jpg);
    background-size: 100%;
    transition: 0.5s;
    z-index: 1;
}

.cate3 .box3:hover .icon-h3{
    background-image: none;
    background-color: rgb(194, 152, 2);
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
}

.cate3 .box3 .icon-h3 .fa{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 80px;
    transition: 0.6s;
}

.cate3 .box3:hover .icon-h3 .fa{
    font-size: 40px;
    display: inline;
    overflow: hidden;
}

/*content in the book*/
.cate3 .box3 .content-book3 {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.cate3 .box3:hover .content-book3 {
    top: 100px;
    opacity: 1;
}

.cate3 .box3 .content-book3 h4 {
    margin  : 0 0 10px;
    padding: 0;
    color: rgb(200, 142, 71);
    font-size: 20px;
}

.cate3 .box3 .content-book3 p {
    margin  : 0 0 10px;
    padding: 0;
    color: rgb(243, 226, 101);
}

/*bottom footer*/
.for-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
}

.for-footer ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
    float: right;
}

.for-footer ul a:hover {
    background-color: rgb(79, 58, 58);
}

/*header*/
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.header ul a {
    display:block;
    padding: 20px;
    text-decoration: none;
}
/*color for button */
.header ul a:hover{
    background-color: rgb(79, 58, 58);
}

.header .menu a:active {
    background-color: aquamarine;
    color: black;
}

.header .logo {
    float: left;
    padding: 10px 20px;
}
/* Mobile display */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .4s ease-out;
}

.header .icon-checkbox {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .icon-checkbox .nav-icon {
    background: #fff;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .icon-checkbox .nav-icon::before {
    background: #fff;
    content: "";
    display:block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .icon-checkbox .nav-icon::after {
    background: #fff;
    content: "";
    display:block;
    height: 100%;
    width: 100%;    
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .button-checkbox {
    display: none;
}

.header .button-checkbox:checked ~ .menu{
    max-height: 300px;
}

.header .button-checkbox:checked ~.icon-checkbox .nav-icon{
    background: transparent;
}

.header .button-checkbox:checked ~.icon-checkbox .nav-icon::before{
    transform: rotate(45deg);
    top: 0;
}

.header .button-checkbox:checked ~.icon-checkbox .nav-icon::after{
    transform: rotate(-45deg);
    top: 0;
}

@media (min-width: 960px) {
    .header li{
        float: left;
    }

    .header li a{
        padding: 25px 30px;
    }

    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }

    .header .icon-checkbox{
        display: none;
    }
}