body{
    margin: 0;
    background-color: rgb(148, 177, 185);
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: aqua
}

.main-box {
    position:relative;
    width: 700px;
    height: 800px;
    margin :240px auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(231, 225, 225);
}

h3 {
    color: darkgreen;
}

.main-box .picture-box .picture-box {
    position: relative;
    float: left;
    width: 1200px;
    height: 300px;
}

.main-box .picture-box .display-content {
    text-align: left;
    margin: 5px;
}

.main-box .picture-box .pic1 {
    position: relative;
    width: calc(850px - 30px);
    height: calc(600px - 30px);
    background: rgb(238, 124, 227);
    float: left;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.main-box .picture-box .pic1 .icon-rmdtl{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./pic.png);
    transition: 0.5s;
    z-index: 1;
}

/*header the responsive one*/
.header{
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 4px rgba(156, 69, 149, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}
/*bottom footer*/
.for-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
}

.for-footer ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
    float: right;
}

.for-footer ul a:hover {
    background-color: rgb(79, 58, 58);
}

/*header*/
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.header ul a {
    display:block;
    padding: 20px;
    text-decoration: none;
}
/*color for button */
.header ul a:hover{
    background-color: rgb(79, 58, 58);
}

.header .menu a:active {
    background-color: aquamarine;
    color: black;
}

.header .logo {
    float: left;
    padding: 10px 20px;
}
/* Mobile display */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .4s ease-out;
}

.header .icon-checkbox {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .icon-checkbox .nav-icon {
    background: #fff;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .icon-checkbox .nav-icon::before {
    background: #fff;
    content: "";
    display:block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .icon-checkbox .nav-icon::after {
    background: #fff;
    content: "";
    display:block;
    height: 100%;
    width: 100%;    
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .button-checkbox {
    display: none;
}

.header .button-checkbox:checked ~ .menu{
    max-height: 300px;
}

.header .button-checkbox:checked ~.icon-checkbox .nav-icon{
    background: transparent;
}

.header .button-checkbox:checked ~.icon-checkbox .nav-icon::before{
    transform: rotate(45deg);
    top: 0;
}

.header .button-checkbox:checked ~.icon-checkbox .nav-icon::after{
    transform: rotate(-45deg);
    top: 0;
}

@media (min-width: 960px) {
    .header li{
        float: left;
    }

    .header li a{
        padding: 25px 30px;
    }

    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }

    .header .icon-checkbox{
        display: none;
    }
}